build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
desktop.ini
*.vcxproj
*.vcxproj.filters
*.sln
*.exe
*.obj
*.o
*.pdb
*.ilk

Debug/
Release/
x64/
ALL_BUILD.dir/
ZERO_CHECK.dir/
*.dir/

.vscode/
.idea/